body{
    font-family: sans-serif;
}

.Blocos{
    width: 50%;
    height:50%;
    background-color: rgb(189, 119, 255);
    margin-right: 10%;
    margin-left: 110px;
    padding: 20px;
    border: solid;
    border-color: #a50b90;
    border-radius: 35px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}


.Blocos:hover{

    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.5);

}
.painelP{

    display: flex;
    height: 600px;
    width: 60%;
    background-color: rgb(241, 241, 241);
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    border:solid;
    border-color: #d6d6d6;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

#aside1{
    position: relative;
    background-color:#6E6E82;
    float: left;
    height: 100%;
    width: 15%;
    border-right: solid;
    border-color: black;
    border-top: solid 100px black;
   
}

#asideh1{
    display:block;
    margin-left:30%;
    margin-top:40%;
}




#asideh1:hover{
    text-decoration: underline;
}


#hea1{
    font-size: 25px;
  
    padding-bottom: 2px;
    text-align: center;
    background-color: rgb(189, 119, 255);
    height: 90px;
    border:solid;
    border-left: none;
    border-right: none;
    border-color: #a50b90;
    
}



.links{
    float: center;
    margin-top: 40%;
    margin-left: 20%;
    font-size: 45px;
}

#h1s{
    position:block;
    display: block;
    text-align: center;
    margin-top: 30px;
}